* {
	color: #f0f0f0;
}

body {
	background: #000;
}

.title_area {
	background-color: #202020;
	margin-bottom: 20px;
}

/* main_nav */
#main_nav_wrapper {
	z-index: 10;
	background-color: #202020;
	padding-top: 10px;
	padding-bottom: 5px;
}

#main_nav h2 {
	font-size: 30px;
	text-align: center;

	letter-spacing: 4px;
	color: #30cccc;
}

#main_nav a {
	color: #e0e0e0;
}

#main_nav li {
	text-align: center;
}

#main_nav li:hover {
	background-color: #105050;
}

#main_nav_wrapper.is-stuck #main_nav .active {
	background-color: #209090;
}

/*  / main_nav */

.callout {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #202020;
}

.section_header {
	height: 60px;
	border-bottom: 1px solid #ccc;
}

.section_header h3 {
	padding-top: 5px;
}

.section_controls {
	font-size: 40px;
	height: 100%;
}

.section_control {
	height: 100%;
	display: inline-block;

	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.section_control:hover {
	background-color: #444;
	cursor: pointer;
}

.section_control:active, .section_control .on {
	background-color: #666;
}


/* queue_control colors */

.section_control i {
	height: 100%;
	width: 100%;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

#queue_control_play {
	color: #66ff66;
}

#queue_control_play:hover {
	color: #33e033;
}

#queue_control_play:active, #queue_control_play.on {
	color: #66cc66;
}

#queue_control_stop {
	color: #ff6666;
}

#queue_control_stop:hover {
	color: #e03333;
}

#queue_control_stop:active, #queue_control_stop.on {
	color: #cc6666;
}


/* queue list styles */

#queue_list {
	list-style-type: none;
}

#queue_list li {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    max-height: 140px;

    overflow-y: hidden;
}

#queue_list li:first-child {
	border-top: none;
}

.being_processed_item {
	background-color: #e0e0e0;
}

#queue_list li:last-child {
	border-bottom: none;
}

#queue_list li.ui-sortable-helper {
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

.queue_item_number {
	margin: auto;
	padding: 0;
	font-size: 18px;
	padding-left: 1%;
	color: #666;
	font-weight: bold;
}

#queue_list li .thumbnail, .being_processed_item .thumbnail {
	max-height: 120px;
}

#queue_list li .thumbnail:hover, #queue_list li .thumbnail:active {
	box-shadow: 0 0 0 1px rgba(10,10,10,.2);
}

.queue_item_title, .being_processed_item_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
	font-size: 110%;
	font-weight: bold;
	color: #666;
}

.queue_item_status, .being_processed_item_status {
	text-align: center;
}

.queue_item_downloading i {
	font-size: 30px;
	color: #909033;
}

.queue_item_downloaded i {
	font-size: 30px;
	color: #009000;
}

.queue_item_status small, {
	color: #999;
	display: block;
}

.being_processed_item small {
	color: #333;
	display: block;
}

.being_processed_item i {
	font-size: 40px;
}


/* history styles */

#history_list {
	list-style-type: none;
}

.history_item_tags .label {
	display: inline-block;
	padding: 8px;
	border-radius: 4px;
}

.history_item_tags .label.secondary:hover {
	background-color: #333;
	cursor: pointer;
}

.history_item_tags .label.secondary:active {
	background-color: #111;
	cursor: pointer;
}

.history_item_tags .label.success:hover {
	background-color: #19b954;
	cursor: pointer;
}

.history_item_tags .label.success:active {
	background-color: #00a054;
	cursor: pointer;
}

